.create_atendimento_main_div{
    width: 70%;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    color: rgb(3, 3, 3);
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;    
    box-sizing: border-box;  
    
}
.create_atendimento_content{
    width: 100%;
    height: 82%;
    padding-left: 1%;
    border-radius: 5px;
    color: rgb(12, 12, 12);
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;    
    box-sizing: border-box;     
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-bottom: transparent;
}
.create_atendimento_container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.61);
    top: 0;
    left: 0;
    
}
.create_atendimento_title{
    color: #000;
    background-color: #dcf02ffa;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    padding-left: 2%;
    font-size: 1.5rem;
    justify-content: space-between;
    padding-right: 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}
.create_atendimento_cancel{
    cursor: pointer;
    background-color: #e3eb9dd0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    max-width: 75px;
    
}
.create_atendimento_cancel:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.678) !important;
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px !important;
}
.create_atendimento_create_button_div{
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
    
}
.create_atendimento_create_button{
    padding: 5px !important;
}
.create_atendimento_content_cliente_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.create_atendimento_content_atendimento_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.create_atendimento_content_prioridade_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.create_atendimento_content_contrato_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.create_atendimento_content_sistema_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.create_atendimento_content_pendencia_financeira_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.create_atendimento_content_radio_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding-left: 1%;
}

.create_atendimento_content_radio_div input[type="radio"]:checked{    
    box-shadow: 0 0 0 1px #dcf02ffa  !important;
    color: aqua!important;
}
.create_atendimento_content_radio_div input[type="radio"]{    
    background-color: aqua;
    padding: 1px;
    height: 30px;
}
.create_atendimento_content_titles{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 1%;
    color: #dcf02ffa;
    text-shadow: 1px 1px 1px rgb(0,0,0);
}
.create_atendimento_content_pendencia_financeira_div input[type="text"]{
    border: transparent;
    box-shadow: none;
    border-bottom: 1px solid #dcf02ffa;    
    height: 30px;
    outline: none;
    width: 50%;
    margin-top: 1%;
}
.create_atendimento_content_pendencia_financeira_div input[type="text"]:focus{
    border: transparent;
    box-shadow: none;
    border-bottom: 1px solid #dcf02ffa;    
    outline: none;

}
.create_atendimento_content_contrato_div input[type="text"]{
    border: transparent;
    box-shadow: none;
    border-bottom: 1px solid #dcf02ffa;    
    height: 30px;
    outline: none;
    width: 50%;
    margin-top: 1%;
}
.create_atendimento_content_contrato_div input[type="text"]:focus{
    border: transparent;
    box-shadow: none;
    border-bottom: 1px solid #dcf02ffa;    
    outline: none;
}