.createFuncionarioComponent_create{
    width: 400px;
    height: auto;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    position: relative;    
    box-sizing: border-box;
    padding: 10px 28px;    
    
}
.componentFuncionarioMain{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.61);
}

.createFuncionarioComponent_create .funcionarioComponentClose[type="submit"]{
    width: 25px;
    margin-left: 94%;
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    color: #ff4d4d;
}
.createFuncionarioComponent_create .funcionarioComponentClose[type="submit"]:hover{

    color: black;
}
.createFuncionarioComponent_create h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;

}

.createFuncionarioComponent_create h2{
    font-size: 12px;
    margin-bottom: 25px;
    text-align: center;
}

.createFuncionarioComponent_create p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.createFuncionarioComponent_create input{
    width: 100%;
    margin-bottom: 21px;
}

.createFuncionarioComponent_create input[type="text"], input[type="password"], input[type="number"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.createFuncionarioComponent_create input[type="checkbox"]{

        width: 20px;
        margin-top: 10px;

}

.createFuncionarioComponent_create input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
}

.createFuncionarioComponent_create input[type="submit"]:hover{
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}

.createFuncionarioComponent_create a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #4b4b4b;
    transition: 0.2s;

}

.createFuncionarioComponent_create a:hover{
    transition: 0.2s;
    color: #ff4d4d;
}