.home_container{
    display: flex;
    flex-direction: column;
}
.home_row1{
    height: 200px;
}
.home_col1{
    display: flex;
}
.home_col1 input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    color: #000;
    background: #fff;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 20px;
    max-width: 260px;
}
.div_atendimento{
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 50px;
    margin-top: 35px;
    margin-left: 15px;
    background-color: rgba(131, 118, 118, 0.473);
    border: 1px solid black;
    border-radius: 15px;
}
.home_col1 input[type="submit"]:hover{
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;    
}
.div_buttons{
    align-items: center;
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}
.div_buttons input[type="submit"]:hover{
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;    
}
.div_buttons input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    color: #000;
    background: #a0cfcf83;
    border-radius: 10px;
    transition: 0.2s;    
    width: 200px; 
}
.ini_Atendimento{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(10, 8, 8);
    font-size: 16px;
}
.div_email_teste{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) { 
    .div_email_teste{
        margin-top: 35%;
    }
}