html,
body {
  padding: 0;
  margin: 0;

}
* {
  box-sizing: border-box;
}
.main{
    margin: 0;
    padding: 0;
    background-image: url(../imgs/89257.jpg);
    background-color: #414141;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
    min-height: 100vh;
}
.row{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
}
.col{
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;  
}
