.loginComponent_login{
    width: 320px;
    height: 470px;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

.loginComponent_login h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;

}

.loginComponent_login h2{
    font-size: 12px;
    margin-bottom: 25px;
    text-align: center;
}

.loginComponent_login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginComponent_login input{
    width: 100%;
    margin-bottom: 21px;
}

.loginComponent_login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.loginComponent_login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
}

.loginComponent_login input[type="submit"]:hover{
    cursor: pointer;
    background: #d0fa37;
    transition: 0.2s;
}

.loginComponent_login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #4b4b4b;
    transition: 0.2s;

}

.loginComponent_login a:hover{
    transition: 0.2s;
    color: #ff4d4d;
}
.loginComponent_login .forget_password{
    color: #fff;
}